[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==3.1.3"
django-autoslug = "==1.9.8"
django-model-utils = "==4.1.0"
Pillow = "==8.0.1"
psycopg2 = "==2.8.6"

[dev-packages]
django-debug-toolbar = "==3.1.1"
factory-boy = "==3.1.0"
ipython = "==7.19.0"
pytest = "==6.1.2"
pytest-cov = "==2.10.1"
pytest-django = "==4.1.0"

[requires]
python_version = "3.8"
